body{
    background-color: gainsboro;
}

.cardPrev {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.title-text-space{
    background-color: darkslategray;
    margin: 20px;
}

.title-text{
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: 900;
}